<div class="trails-page">
  <div class="intro-container">
    <h2 class="title">Trails</h2>

    <div class="intro-text">
      <p>Each trail below consists of exercises that will help you improve your skills as a developer.</p>

      <p>To complete an exercise you need to <a href=<%= user_github_omniauth_authorize_path %>>create an account using Github oauth</a></p>
    </div>
  </div>

  <div class="trails">
    <% @trails.each do |trail| %>
      <div class="trail">
        <div class="name"><%= trail.name %></div>
        <div class="description">
          <%= trail.description %>

          <div class="get-started">Click on the first exercise to get started!</div>
        </div>
        <div class="exercise-tracker">
          <div class="exercise-title">Exercises:</div>
          <% trail.exercises.order(:number).each do |exercise| %>
            <a href="<%= exercise.github_repo_url %>"><span class="dot <%= dot_colour(exercise)%>"></span></a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
